#chartContainer {
    max-width: 1000px;
    margin: 20px auto; 
    padding: 10px; 
    background-color: #f0f0f0; 
    position: relative; 
    top: 50px; 
}

#chartContainer2 {
    max-width: 1000px;
    margin: 20px auto; 
    padding: 10px; 
    background-color: #f0f0f0; 
    position: relative; 
    top: 50px; 
}


#chartContainer label {
    margin: 10px; 
    color: white; 

}

#chartContainer2 label {
    margin: 10px; 
    color: white; 

}

#chartContainer select {
    margin: 10px; 
    color: black; 

}


#chartContainer2 select {
    margin: 10px; 
    color: black; 

}

canvas {
    display: block;
    margin: auto;
    max-width: 1000px; 
    width: 100%; 

}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    background-color: #1f1e1eba;
    margin-top: 20px; 
    font-size: 3em; 
}

#chartContainer {
    max-width: 800px;
    margin: auto;
    background-color: #1f1e1eba;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#chartContainer2 {
    max-width: 800px;
    margin: auto;
    background-color: #1f1e1eba;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff7f7;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

canvas {
    display: block;
    margin: auto;
    background-color: #ccc;
    max-width: 100%;
}

h2 {
    text-align: center;
    color: #206779;
}
#menu {
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
