<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->

</head>
<body>

<h1>Spotify Dashboard</h1>

<!-- <h2>This Visualization will allow you to select your Genre and Category to visualize differnet metrics.</h2> -->
<div id="chartContainer">
    <label for="genre">Select Genre:</label>
    <select id="genre"></select>

    <label for="category">Select Category:</label>
    <select id="category"></select>

    <canvas id="barGraph"></canvas>
</div>
<div>
    <h2>Second Chart</h2>
</div>

<div id="chartContainer2">
    <label for="genre2">Select Genre:</label>
    <select id="genre2"></select>

    <label for="category2">Select Category:</label>
    <select id="category2"></select>

    <canvas id="barGraph2"></canvas>
</div>



<script src="{{ url_for('static', filename='script.js') }}"></script>
<!-- <script src="V-2/script.js"></script> -->
<script src="{{ url_for('static', filename='script2.js') }}"></script>



</body>
</html>
