<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>

<h1>Spotify Dashboard</h1>

<div id="chartContainer">
    <label for="genre">Select Genre:</label>
    <select id="genre"></select>

    <label for="category">Select Category:</label>
    <select id="category"></select>

    <canvas id="barGraph"></canvas>
</div>


<div>
  
</div>

<div id="chartContainer2">
    <label for="genre2">Select Genre:</label>
    <select id="genre2"></select>


    <canvas id="LineChart2"></canvas>
</div>

<div>
  
</div>

<div id="chartContainer3">
    <label for="genre3">Select Genre:</label>
    <select id="genre3"></select>

    <label for="category3">Select Category:</label>
    <select id="category3"></select>

    <canvas id="barGraph3"></canvas>
</div>








<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='script2.js') }}"></script>
<script src="{{ url_for('static', filename='script3.js') }}"></script>



</body>
</html>
